# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables / secrets
.env

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db